<main id="match">
<img id="splash" src="/images/champions_splash/{{data.championData.name}}_0.jpg" alt="{{data.championData.title}}">
    <div id="matchDetails">
    <h2>Match result: {{data.win}}</h2>
    <h3>Gamemode: {{data.gamemode}}</h3>
    <p>Champion: {{data.championData.name}}</p>
    <p>Kills: {{data.kills}}</p>
    <p>Deaths: {{data.deaths}}</p>
    <p>Dammage dealt: {{data.dmg}}</p>
    <p>Minions farmed: {{data.farm}}</p>
    <p>Vision score: {{data.vision}}</p>
</div>
</main>